<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @note.task_id %>
</p>

<p>
  <b>Description:</b>
  <%= @note.description %>
</p>

<p>
  <b>User:</b>
  <%= @note.user.email %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
