<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="field">
    Created by <%= current_user.email %>
  </div>
  <br />
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "input-xlarge" %>
  </div>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
	<div class="field">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, :id => :due_date_picker, :value => @task.due_date.blank? ? "" : @task.due_date.strftime("%m/%d/%Y") %>
  </div>
	
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(%w[OPEN CLOSED]) %>
  </div>
	
  <div class="field">
    <%= f.label :employer %>
    <%= f.text_field :employer %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
