<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Created_Date</th>
        <th>Task Description</th>
        <th>Due_Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
			<% @tasks.each do |task| %>
				<tr>
					<td><%= task.created_at.strftime("%b %d, %Y") %></td>
					<td><%= task.title %></td>
					<td><%= task.due_date.strftime("%b %d, %Y") %></td>
					<td><%= task.status %></td>
					<td width="12px"><%= link_to 'Show', task, :class => 'badge badge-success' %></td>
					<td width="12px"><%= link_to 'Edit', edit_task_path(task), :class => 'badge badge-warning' %></td>
					<td width="12px"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'badge badge-important' %></td>
				</tr>
			<% end %>
    </tbody>
  </table>

<br />

<%= link_to 'New Task', new_task_path, :class => 'btn btn-info' %> 