<!DOCTYPE html>
<html>
<head>
  <title> #  t  a  s  k  s </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script>
  	 $(function() {
				$( "#due_date_picker" ).datepicker();
			});
  </script>


  <style>
  	.searchbar {
  		margin-left:auto;
  		margin-right:auto;
  		margin-bottom: 1px;
  		margin-top: 10px;
  		width:90%;
  		text-align: right;
  	}
  	.header {
  		clear: both;
  	  margin-left:auto;
  		margin-right:auto;
  		width:90%;
  		padding:10px;
  		background-color:#888;
  		color:#fff;
  		text-align:right;
  	}
  	.content {
  		margin-left:auto;
  		margin-right:auto;
  		width:90%;
  		margin-bottom:50px;
  		margin-top:20px;
  	}
  	.footer {
  		clear: both;
  		margin-left:auto;
  		margin-right:auto;
  		width:90%;
  		padding:10px;
  		background-color:#888;
  		color:#fff;
  		text-align:center;
  		height:50px;
  		font-size:12px;
  	}
  	a.header {
  		color:#fff;
  		text-align:left;
  	}
  	textarea {
  		width:500px;
  		height:130px;
  	}
  </style>


</head>
<body>
	<div class="header">	  
		<% if user_signed_in? %>		
			<%= link_to "AISYS, Inc", tasks_path, :class => "header" %>
		<% else %>
			<!-- BLANK -->  
		<% end %>
		
		<% if user_signed_in? %>
			  Hello, <%= current_user.email %>
			<%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "header" %>
		<% else %>
			<%= link_to "Login", new_user_session_path, :class => "header" %>
		<% end %>	
</div>

<div class="searchbar">		
<%= form_tag tasks_path, :method => 'get' do %>
	<%= submit_tag "Search", :name => nil %>
  <%= text_field_tag :search, params[:search] %>
<% end %>
</div>

	<div class="content">
		<% if notice || alert %>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
    <% end %>
 	
    <%= yield %>
	</div>
	<div class="footer">
		2013 AISYS, Inc. All rights reserved.
	</div>
</body>
</html>
