<!DOCTYPE html>
<html>
<head>
  <title>Mytask</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id=menu>
		AISYS, Inc		
		<% if user_signed_in? %>
		  <%= link_to "Home", tasks_path %>  |
		<% else %>
		  <%= link_to "Home", new_user_session_path %>  |
		<% end %>
		<%= link_to "Tasks", tasks_path %> |
		<%= link_to "About us", public_about_us_path %> |
		<%= link_to "Contact us", public_contact_us_path %> |
		<%= link_to "Terms of Service", public_tos_path %> |
		<%= link_to "Privacy", public_privacy_path %> |
		<% if user_signed_in? %>
			Hello, <%= current_user.email %> | 
			<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to "Login", new_user_session_path %>
		<% end %>
	</div>
	<div>
		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	</div>
<%= yield %>

</body>
</html>
